@import url(http://fonts.googleapis.com/css?family=PT+Serif+Caption:400,400italic|PT+Sans:400,400italic,700,700italic);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	GENERAL STYLES
*/

body {
	font-size: 62.5%;
	font-family: "PT Sans", Helvetica, Tahoma, sans-serif;
	background:url('img/bg.jpg');
	background-size: cover;
	background-attachment:fixed;
	background-position:top center;
	background-repeat: no-repeat;
	background-color: #EEE;
}

#wrapper{
	max-width: 1300px;
	min-width: 900px;
	margin: 0 auto;
	background:#FEFFF7;
	padding:5em 3em;
	margin-bottom:8em;
	box-shadow:0 0 45px 10px #000;
}

#welcome, #loginform, #registerform{
	margin:0 auto;
	width:500px;
	margin-top:5em;	
}

#welcome{
	color:#fff;
}


#topContainer{
	background:#000;
	padding:0.5em 0;
}

#topContainer:after, #wrapper:after{
	content: ".";
    display: block;
    height: 0;
    clear: both;
}

#topContent{
	max-width: 1300px;
	min-width:900px;
	margin:0 auto;
	color:#fff;
}

#logoutBox {
	float:right;
}


#addDishForm{
	margin-bottom:5em;
	float:left;
	width:20%;
}

#randomDish{
	margin-bottom:10em;
	float:right;
	width:69%;
}

#allDishes{
	float:right;
	width:70%;
}






/*
 	TEXT AND LIST FORMATTING
 */
p{
	font-size: 1.8em;
}

p, h1, h2, h3, h4, h5, h6, input, label, textarea{
	margin-bottom: 0.5em;
}

#topContent p{
	display:inline;
}

#welcome p{
	font-size: 3em;
	text-shadow:2px 2px 2px #000;
}

p.success{
	border:1px solid #2F8C15;
	padding: 1em;
	margin-bottom: 3em;
	background:#D8F5D0;
}

p.errorMessage{
	border:1px solid #E8797C;
	padding: 1em;
	margin-bottom: 3em;
	background:#F2D3D4;
}

h1{
	font-size: 5em;
	font-family: "PT Serif", Georgia, serif;
}

#topContent h1{
	font-size:2em;
	color:#fff;
	float:left;
}

h2, legend{
	font-size: 3.4em;
	font-family: "PT Serif", Georgia, serif;
}

#allDishes h2{

}

h3{
	font-size:2.5em;
	font-family: "PT Serif", Georgia, serif;
}

h4{
	font-size:2em;
	font-family:"PT Serif", Georgia, serif;
}

h5{
	font-size:1.6em;
	font-family:"PT Serif", Georgia, serif;
}


li {
	padding:1em;
	margin-bottom:1em;
}

em {
	font-style:italic;
}

strong {
	font-weight:bold;
}

.floatLeft{
	float:left;
}

.floatRight{
	float:right;
}

/*
 	FORMS
 */
input, textarea{
	font-size:1.2em;
}

#wrapper input, #wrapper textarea{
	border:1px solid #D8DBC1;
}

textarea{
	height:10em;
}	
	
input#username, input#password, input#dishname, input#dishurl, textarea, input#email, input#confirmPassword{
	width:94%;
}

#topContent form{
	display:inline;
}

label{
	display: block;
}

#keeploggedin{
	display:inline;
}

legend{
	font-size: 2.4em;
	margin-bottom:1em;
}

input, textarea {
	padding:0.5em;
}

#keepLoggedIn{
	width: auto;
}